@media (min-width: 400px) and (max-width: 470px){ /* Адаптация под мобильные устройства */
.abt1cont{
    flex-direction: column;
    height: 830px !important;
    gap: 2% !important;
}
.abt1cont img{
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.abt1{
    max-width: 470px;
    width: 90% !important;
    margin: auto;
    margin-bottom: 0;
}
.abt1 p{
    max-width: 470px;
width: 90% !important;
}
.abt2cont{
    flex-direction: column;
    height: 510px !important;
    gap: 2% !important;
}
.abt2cont img{
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.abt2{
    max-width: 470px;
    width: 90% !important;
    margin: auto;
    margin-bottom: 0;
}
.abt2 p{
    max-width: 470px;
width: 90% !important;
}
.abt3cont{
    flex-direction: column;
    height: 510px !important;
    gap: 2% !important;
}
.abt3cont img{
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.abt3{
    max-width: 470px;
    width: 90% !important;
    margin: auto;
    margin-bottom: 0;
}
.abt3 p{
    max-width: 470px;
width: 90% !important;
}
}

@media (max-width: 399px){ /* Адаптация под мобильные устройства */
.abt1cont{
    flex-direction: column;
    height: 920px !important;
    gap: 2% !important;
}
.abt1cont img{
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.abt1{
    max-width: 350px;
    width: 90% !important;
    margin: auto;
    margin-bottom: 0;
}
.abt1 p{
    max-width: 350px;
width: 90% !important;
}
.abt2cont{
    flex-direction: column;
    height: 510px !important;
    gap: 2% !important;
}
.abt2cont img{
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.abt2{
    max-width: 350px;
    width: 90% !important;
    margin: auto;
    margin-bottom: 0;
}
.abt2 p{
    max-width: 350px;
width: 90% !important;
}
.abt3cont{
    flex-direction: column;
    height: 510px !important;
    gap: 2% !important;
}
.abt3cont img{
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.abt3{
    max-width: 350px;
    width: 90% !important;
    margin: auto;
    margin-bottom: 0;
}
.abt3 p{
    max-width: 350px;
width: 90% !important;
}
}
*{ /* Сброс отступов */
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
.abt1cont{
    display: flex;
    background-color: #EAF0F5;
    justify-content: center;
    gap: 5%;
    height: 365px;
}
.abt1cont img{
    width: 346px;
    height: 240px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
.abt1{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.abt1 h1{
    margin-bottom: 4%;
}
.abt1 p{
    width: 650px;
    font-size: 20px;
}
.abt2{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.abt2 h1{
    margin-bottom: 7%;
}
.abt2 p{
    width: 400px;
    font-size: 20px;
}
.abt2cont{
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 18%;
    height: 365px;
}
.abt2cont img{
    width: 346px;
    height: 240px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;  
}
.abt3{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.abt3 h1{
    margin-bottom: 7%;
}
.abt3 p{
    width: 400px;
    font-size: 20px;
}
.abt3cont{
    display: flex;
    background-color: #EAF0F5;
    justify-content: center;
    gap: 19%;
    height: 365px;
}
.abt3cont img{
    width: 346px;
    height: 240px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
