@media (min-width: 400px) and (max-width: 470px) {
	.sidenav1 {
	display: block !important;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav1 a {
  padding: 4px 8px 4px 5px;
	width: fit-content;
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: 0.3s;
}
	.filthead{
		margin-left: 0% !important;
	}
	.sidefil{
		margin-left: 5%;
	}
	.sidefilin, .sidefil{
		width: fit-content;
	}
	.sideup1{
		position: absolute;
		width: 100%;
		height: 45px;
		border-bottom: 1px solid black;
		top:0;
			}
	.closena{
		display: flex;
		height: 100%;
			width:100%;
	}
	.closena p{
		width: fit-content;
		height: fit-content;
		margin: auto;
		margin-left: 0;
		font-weight: bold;
		font-size: 17px;
	}
	.closebtn1 img{
		width: inherit;
		height: inherit;
	}
	.closebtn1{
		width: 30px !important;
		height: 30px !important;
		padding-top: 8px !important;
	}
	.catasec{
		padding-top: 20% !important;
	}
	.filter{
		display: none !important;
	}	
	.tovar{
		flex-direction: column !important;
		width: 390px !important;
	}
	.tovinfo{
		
		flex-direction: column;
	}
	.tovchar{
		height: auto !important;
		width: 390px !important;
		margin-left: 0 !important;
	}
	.tovchar p:nth-of-type(2n){
		width: 390px !important;
	}
	.catalog{
		width: 390px !important;
	}
	#all{
		display: flex;
		margin: auto;
		flex-direction: column !important;
	}
	.catasec h1{
		margin-left: 5% !important;
	}
	.tovprice{
		height: auto !important;
		display: flex;
		width: auto !important;
		gap:15%;
		margin-left: 0 !important;
		margin-top: 2% !important;
	}
	.price{
		width: 120px;
	}
	.tovinfo{
		width: 390px !important;
}
	.tovbtns{
		margin: auto !important;
	}
.price{
	display: flex;
	justify-content: space-between;
	height: 30px;
	
}
	.tovar img{
		margin: auto;
		margin-bottom: 3% !important;
	}
	.price p{
		margin-top: auto !important;
		margin-bottom: auto !important;
		height: 19px;
	}
	.stars{
		height: 15px;
		margin: auto;
		margin-left: 0;
		margin-right: 0;
	}
	.review{
		justify-content: flex-start !important;
		gap:20%;
	}
	.filters{
	margin-left: 5%;
		display: flex !important;
		border:none;
		background: white;
}
}
@media (max-width: 399px) {
	.sidenav1 {
	display: block !important;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav1 a {
  padding: 4px 8px 4px 5px;
	width: fit-content;
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: 0.3s;
}
	.filthead{
		margin-left: 0% !important;
	}
	.sidefil{
		margin-left: 5%;
	}
	.sidefilin, .sidefil{
		width: fit-content;
	}
	.sideup1{
		position: absolute;
		width: 100%;
		height: 45px;
		border-bottom: 1px solid black;
		top:0;
			}
	.closena{
		display: flex;
		height: 100%;
			width:100%;
	}
	.closena p{
		width: fit-content;
		height: fit-content;
		margin: auto;
		margin-left: 0;
		font-weight: bold;
		font-size: 17px;
	}
	.closebtn1 img{
		width: inherit;
		height: inherit;
	}
	.closebtn1{
		width: 30px !important;
		height: 30px !important;
		padding-top: 8px !important;
	}
	.catasec{
		padding-top: 20% !important;
	}
	.filter{
		display: none !important;
	}	
	.tovar{
		flex-direction: column !important;
		width: 340px !important;
	}
	.tovinfo{
		margin: auto auto 2% auto !important;
		margin-bottom: 2% !important;
		flex-direction: column;
	}
	.tovchar{
		height: auto !important;
		width: 340px !important;
		margin-left: 0 !important;
	}
	.tovchar p:nth-of-type(2n){
		width: 340px !important;
	}
	.catalog{
		width: 340px !important;
	}
	#all{
		display: flex;
		margin: auto;
		flex-direction: column !important;
	}
	.catasec h1{
		margin-left: 5% !important;
	}
	.tovprice{
		height: auto !important;
		display: flex;
		width: auto !important;
		gap:15%;
		margin-left: 0 !important;
		margin-top: 2% !important;
	}
	.price{
		width: 120px;
	}
	.tovinfo{
		width: 340px !important;
}
	.tovbtns{
		margin: auto !important;
	}
.price{
	display: flex;
	justify-content: space-between;
	height: 30px;
	
}
	.tovar img{
		margin: auto;
		margin-bottom: 3% !important;
	}
	.price p{
		margin-top: auto !important;
		margin-bottom: auto !important;
		height: 19px;
	}
	.stars{
		height: 15px;
		margin: auto;
		margin-left: 0;
		margin-right: 0;
	}
	.review{
		justify-content: flex-start !important;
		gap:20%;
	}
	.filters{
	margin-left: 5%;
		display: flex !important;
		border:none;
		background: white;
}
}
*{ /* Сброс отступов*/
    margin:0;
    padding:0;
    font-family: 'roboto';
}

.filters{
	display: none;
	font-weight: bold;
	font-size: 15px;
	margin-top: 1%;
	margin-bottom: 3%;
}
.filter{
    display: flex;
    flex-direction: column;
    width: 220px;
}
.filter h2{
    margin-top: 3%;
    margin-left: 6%;
    width: 110px;
}
.filthead {
    margin-top: 3%;
    margin-left: 9%;
    width: 110px;
}
.type{
    margin: auto;
    margin-bottom: 0;
    margin-top: 3%;
    width: 180px;
}
.type input{
    width: 20px;
}
.type label{
    display: flex;
    gap: 5%;
    margin-top: 3%;
}
.manufacturer{
    margin: auto;
    margin-bottom: 0;
    margin-top: 3%;
    width: 180px;
}
.manufacturer input{
    width: 20px;
}
.manufacturer label{
    display: flex;
    gap: 5%;
    margin-top: 3%;
}
.priceinput{
    gap: 8%;
    display: flex;
    margin: auto;
    margin-bottom: 0;
    margin-top: 5%;
    width: 180px;
}
.priceinput input{
    width: 70px;
    height: 19px;
    border-radius: 3px;
    border: 1px solid #767272;
    outline: none;
}
.priceinput  input[type=number]::-webkit-inner-spin-button,
.priceinput  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    padding-left: 10px;
}

.priceinput  input[type=number] {
    -moz-appearance: textfield; /* Для Firefox */
    padding-left: 10px; 
}
.tovar{
    display: flex;
    flex-direction: row;
    width: 1010px;
    border-bottom: 1px solid black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tovar img{
    width: 140px;
    height: auto;
    margin-bottom: 2%;
}
.tovinfo{
    display: flex;
    width: 900px;
    margin-left: 2%;
    margin-bottom: 2%;
}
.tovchar{
    display: flex;
    flex-direction: column;
    height: 60px;
    font-weight: 500;
    margin: auto;
    margin-left: 2%;
    margin-right: 0;
    width: 550px;
}
.tovchar p:nth-of-type(2n){
    font-size: 12px;
    color: #767272;
    margin-top: 2%;
    width: 450px;
}
.tovprice{
    margin: auto;
    margin-left: 2%;
    margin-right: 0;
    width: 200px;
    height: 100px;
}
.tovprice p{
    font-weight: bold;
    margin-top: 10.5%;
    margin-bottom: 8%;
}
.tovbtns{
    height: 25px;
    width: 25px;
    gap: 25%;
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
    margin-right: 0;
}
.tovbtns button{
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
}
.tovbtns img{
    width: 25px;
    height: 25px;
}
.catasec{
    height: 100%;
}
.catasec h1{
    width: 100px;
    margin-left: 16.6%;
}
.catalog{
    display: flex;
    gap: 5%;
    width: 1300px;
    margin: auto;
    margin-top: 0.5%;
}
.tovbut{
    display: flex;
    border: 1px solid #767272;
    background: inherit;
    gap: 3%;
    height: 30px;
    border-radius: 2px;
    width: 200px;
}
.tovbut img{
    width: 20px;
    height: 20px;
    margin: auto;
    margin-right: 0;
}
.tovbut span{
    margin: auto;
    margin-left: 0;
}
.review{
    width: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.stars img{
  width: 15px;
  height: 15px;
}
.reviewbut{
  display: flex;
}
.reviewbut p{
  color: #767272;
  font-size: 13px;
  height: 17px;
  margin-top: 8%;
  margin-left: 3%;
}
.reviewbut button{
  background: transparent;
  border: none;
}
.reviewbut img{
  width: 17px;
  height: 17px;
}