@media (min-width: 400px) and (max-width: 470px){ /* Адаптация под мобильные устройства */
.contacts{
    height: 100% !important;
	padding-bottom: 5%;
}
	
.conts{
    flex-direction: column;
}
.contfirst{
    width: 390px !important;
    margin: auto;
}
}
	@media (max-width: 399px){ /* Адаптация под мобильные устройства */
.contacts{
    height: 100% !important;
	padding-bottom: 5%;
}
	
.conts{
    flex-direction: column;
	width: 350px !important;
	margin: auto;
}
		.time1, .time2, .time3{
		width: 350px !important;
			font-size:15px;
	}
		.mail2{
			gap:31% !important;
		}
		.phonemail1{
			gap:23% !important;
		}
.contfirst{
    width: 350px !important;
    margin: auto;
}
}
*{ /* Сброс отступов */
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
.contacts{
    height: 580px;
    width: 100%;
}
.conts{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 4%;
    gap: 4%;
}
.contfirst{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.contfirst img{
    width: 250px;
    height: 216px;
    margin: auto;
}
.contfirst h1{
    margin: auto;
    margin-top: 2%;
}
.mails{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-top: 3%;
}
.mail1{
    display: flex;
    gap: 36%;
    color: #767272;
    font-size: 16px;
}
.mail1 a{
    text-decoration: none;
    color: #767272;
    }
.mail2{
    display: flex;
    gap: 38%;
    color: #767272;
}
.mail2 a{
text-decoration: none;
color: #767272;
}
.times{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8%;
}
.time1{
    width: 365px;
    display: flex;
    gap: 19%;
    color: black;
    margin: auto;
}
.time2{
    width: 355px;
    display: flex;
    gap: 50%;
    color: black;
    margin: auto;
}
.time3{
    width: 355px;
    display: flex;
    gap: 39%;
    color: black;
    margin: auto;
}
.address{
    text-align: center;
    color: #767272;
    margin-top: 3%;
}
.phonemails{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%; 
}
.phonemails p{
    color: #767272;
    text-align: center;
}
.phonemail1{
    display: flex;
    gap: 31%;
}
.phonemail1 a{
    text-decoration: none;
    color: #767272;
}