@media (min-width: 400px) and (max-width: 470px){ /*Адаптация под мобильные устройства*/
    .about{
        height: 100% !important;
    }
        .abt{
        width: 90% !important;
        flex-direction: column;
    }
    .about img{
        width: 190px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }
    .abttxt{
        margin-bottom: 3%;
    }
    .abttxt p{
        width: 100% !important;
    }
    .txtcont{
        height: 100% !important;
    }
    .collpse{
        max-width: 460px;
        height: 100%;
        width: 95% !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }
    .collapsible{
      width: 100% !important;
      gap: 0% !important;
    }
    .collapsible span{
width: 100% !important;
font-size: 18px !important;
    }
    .content{
            max-width: 460px;
            width: 100% !important;
            height: 100%;
    }
}
@media (max-width: 399px){ /*Адаптация под мобильные устройства*/
    .about{
        height: 100% !important;
    }
        .abt{
        width: 90% !important;
        flex-direction: column;
    }
    .about img{
        width: 190px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }
    .abttxt{
        margin-bottom: 3%;
    }
    .abttxt p{
        width: 100% !important;
    }
    .txtcont{
        height: 100% !important;
    }
    .collpse{
        max-width: 350px;
        height: 100%;
        width: 95% !important;
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }
    .collapsible{
      width: 100% !important;
      gap: 0% !important;
    }
    .collapsible span{
width: 100% !important;
font-size: 16px !important;
    }
    .content{
            max-width: 460px;
            width: 100% !important;
            height: 100%;
    }
}
*{ /* Сброс отступов*/
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
.about{
    display: flex;
    width: 100%;
    background-color: #F5FAFE;
    height: 290px;
}
.about img{
    width: 300px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.abt{
    display: flex;
    width: 60%;
    margin: auto;
}
.abttxt{
    width: 100%;
    margin-top: 5%;
}
.abttxt h1{
margin-bottom: 1%;
}
.abttxt p{
    width: 62%;
    font-size: 18px;
}
.questions{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    margin-top: 1%;
}
.collapsible {
    background-color: #F5FAFE;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 1200px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    gap: 65%;
  }
.collapsible span{
height: 21px;
margin: auto;
margin-top: 0.5%;
margin-left: 0;
margin-right:0;
font-size: 20px;
}
.col1{
    gap: 64%;   
}
.col2{
    gap: 40.5%;   
}
.col3{
    gap: 81%;   
}
.col4{
    gap: 57%;   
}
.active{
    border-radius:7px 7px 0 0;
}
  .collpse{
    width: 1200px;
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  /* Style the collapsible content. Note: hidden by default */
  .content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAF0F5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 7px 7px;
  }
  .content p{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
  }