@media (min-width: 400px) and (max-width: 470px){ /*Адаптация под мобильные устройства*/
.about{
    height: 100% !important;
}
    .abt{
    width: 90% !important;
    flex-direction: column;
}
.about img{
    width: 190px !important;
margin-left: auto !important;
margin-right: auto !important;
}
.abttxt{
    margin-bottom: 3%;
}
.abttxt p{
    width: 100% !important;
}
.txtcont{
    height: 100% !important;
}
.txts{
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
}
.listcont{
    height: 100% !important;
}
.list{
    margin-bottom: 2%;
}
.list ul{
    width: 70% !important;
}
.list h2{
margin-top: 2%;
margin-bottom: 2%;
margin-left: auto !important;
margin-right: auto;
font-size: 22px;
}
}
	@media (max-width: 399px){ /*Адаптация под мобильные устройства*/
.about{
    height: 100% !important;
}
    .abt{
    width: 90% !important;
    flex-direction: column;
}
.about img{
    width: 190px !important;
margin-left: auto !important;
margin-right: auto !important;
}
.abttxt{
    margin-bottom: 3%;
}
.abttxt p{
    width: 100% !important;
}
.txtcont{
    height: 100% !important;
}
.txts{
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
}
.listcont{
    height: 100% !important;
}
.list{
    margin-bottom: 2%;
}
.list ul{
    width: 70% !important;
}
.list h2{
margin-top: 2%;
margin-bottom: 2%;
margin-left: auto !important;
margin-right: auto;
font-size: 22px;
}
}
*{  /* Сброс отступов*/
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
.about{
    display: flex;
    width: 100%;
    background-color: #EAF0F5;
    height: 290px;
}
.about img{
    width: 300px;
	height: 270px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.abt{
    display: flex;
    width: 60%;
    margin: auto;
}
.abttxt{
    width: 100%;
    margin-top: 5%;
}
.abttxt h1{
margin-bottom: 1%;
}
.abttxt p{
    width: 80%;
    font-size: 18px;
}
.txtcont{
    height: 200px;
}
.txts{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 3%;
}
.txt1{
    display: flex;
    flex-direction: column;
}
.txt1 a{
    text-decoration: none;
    color: black;
}
.txt2{
    margin-top: 1%;
}
.listcont{
    display: flex;
    width: 100%;
    background-color: #EAF0F5;
    height: 350px;
}
.list{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.list h2{
    margin-left: 27%;
}
.list ul{
    width: 45%;
    margin: auto;
}
.list li{
    margin-top: 1%;
    margin-bottom: 1%;
}