@media (min-width: 400px) and (max-width: 470px){ /* Адаптация под мобильные устройства */
  .banner{
    display: none !important;
    }
	.tabcontent, .tabcontent2, .tabcontent3{
		flex-direction: column !important;
		width: 80% !important;
		height: 100% !important;
		margin: auto;
			flex-wrap: nowrap !important;
		gap: 0% !important;
	}
	.tabcont h1{
		width: fit-content;
		margin-left: 4%;
	}
	.tab1{
		width: auto !important;
		margin-top: 4% !important;
		margin-bottom: 4% !important;
	}
	.tab, .tabnews{
		width: 100% !important;
		}
	.tabnews{
		margin-top: 3%;
		margin-bottom: 1%;
	}
	.tablinks, .tablinks2{
		margin-top: 1%;
	}
	.tabcont{
		width: 390px !important;
		height: 100% !important;
		padding-top: 11% !important;
	}
	.actual{
		flex-direction: column;
	}
	.actualcont{
		margin: auto;
		margin-top: 2%;
	}
	.actualconte hr{
		width: 90% !important;
	}
	.actualconte h1{
		margin-left: 10% !important;
	}
}
@media (max-width: 399px){ /* Адаптация под мобильные устройства */
  .banner{
    display: none !important;
    }
	.actualcont{
		width: 340px !important;
	}
	.actual1, .actual2, .actual3{
		margin: auto;
	}
	.tabcontent, .tabcontent2, .tabcontent3{
		flex-direction: column !important;
		width: 80% !important;
		height: 100% !important;
		margin: auto;
			flex-wrap: nowrap !important;
		gap: 0% !important;
	}
	.tabcont h1{
		width: fit-content;
		margin-left: 4%;
	}
	.tab1{
		width: auto !important;
		margin-top: 4% !important;
		margin-bottom: 4% !important;
	}
	.tab, .tabnews{
		width: 100% !important;
		}
	.tabnews{
		margin-top: 3%;
		margin-bottom: 1%;
	}
	.tablinks, .tablinks2{
		margin-top: 1%;
	}
	.tabcont{
		width: 350px !important;
		height: 100% !important;
		padding-top: 11% !important;
	}
	.actual{
		flex-direction: column;
	}
	.actualcont{
		margin: auto;
		margin-top: 2%;
	}
	.actualconte hr{
		width: 90% !important;
	}
	.actualconte h1{
		margin-left: 10% !important;
	}
}
*{ /* Сброс отступов */
    margin:0;
    padding:0;
    font-family: 'roboto';
}
.tabcont{
    width: 70%;
    height: 500px;
    display: flex;
flex-direction: column;
margin: auto;
margin-bottom: 3%;
}
.tabs{
    border-bottom: solid 1px black;
}
 /* Style the tab */
 .tab {
    overflow: hidden;
    background-color: transparent;
    margin-left: 3%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5% 16px;
    transition: 0.3s;
    color: #767272;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: black;
    font-weight: bold;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: black;
    font-weight: bold;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 0.5% 12px;
    border: none;
    color: black;
    gap: 2.7%;
    flex-wrap: wrap;
    width: 100%;
  } 
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  .tabcontent2 {
    display: none;
    padding: 0.5% 12px;
    border: none;
    color: black;
    gap: 2.7%;
    flex-wrap: wrap;
  } 
  .tabcontent2 {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  .tabcontent3 {
    display: none;
    padding: 0.5% 12px;
    border: none;
    color: black;
    gap: 1%;
    flex-wrap: wrap;
    height: 75%;
    justify-content: center;
  } 
  .tabcontent3 {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .tab1{
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 430px;
    background-size: 100% ;
    background-position: 1%;
    border-radius: 7px;
    margin-top: 1.5%;
  }
  .tab1 img{
    width: 180px;
    height: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5%;
  }
  .price{
    display: flex;
   justify-content: space-between;
  }
  .price p{
    font-size: 19px;
    font-weight: 500;
  }
  .price button{
    border: none;
    background: transparent;
  }
  .price img{
    width: 20px;
    height: 20px;
  }
  .descrip{
    margin-top: 3%;
    height: 123px;
  }
  .descrip p:nth-of-type(1){
    overflow: hidden;
    height: 57px;
  }
  .descrip p:nth-of-type(2n){
color: #767272;
height: 60px;
margin-top: 3%;
font-size: 13px;
  }
  .review{
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-left: 0;
    margin-right: 0;
    height: 15px;
  }
  .stars img{
    width: 15px;
    height: 15px;
  }
  .reviewbut{
    display: flex;
  }
  .reviewbut p{
    color: #767272;
    font-size: 13px;
    height: 17px;
    margin-top: 5%;
    margin-left: 3%;
  }
.reviewbut button{
    background: transparent;
    border: none;
}
.reviewbut img{
    width: 17px;
    height: 17px;
}
.tovbut{
    display: flex;
    border: 1px solid #767272;
    background: inherit;
    gap: 3%;
    height: 30px;
    border-radius: 2px;
}
.tovbut img{
    width: 20px;
    height: 20px;
    margin: auto;
    margin-right: 0;
}
.tovbut span{
    margin: auto;
    margin-left: 0;
}
.actualconte{
    margin-bottom: 2%;
}
.actualconte h1{
    margin-bottom: 0.2%;
    margin-left: 15%;
}
.actualconte hr{
    width: 1340px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.actual{
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-top: 1%;
}
.actual1{
    background: #F8F6FE;
    width: 350px;
    height: 190px;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
.actual2{
    background: #E9F0F5;
    width: 350px;
    height: 190px;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
.actual3{
    background: #E8EFFA;
    width: 350px;
    height: 190px;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
.text{
    margin-left: 6%;
    margin-top: 6%;
    height: 70px;
    width: 150px;
}
.text p:nth-of-type(1){
    color: #767272;
    font-size: 13px;
}
.text p:nth-of-type(2n){
margin-top: 1%;
font-weight: bold;
font-size: 20px;
}
.actual1 img{
width: 160px;
height: 160px;
margin-top: 9%;
margin-left: 5%;
}
.actual2 img{
    width: 160px;
    height: 160px;
    margin-top: 9%;
    margin-left: 5%;
    }
    .actual3 img{
        width: 160px;
        height: 160px;
        margin-top: 9%;
        margin-left: 5%;
        }
.tabcont h1{
margin-bottom: 0.5%;
}
.tabnews{
  width: 19%;
  height: 75%;
  background-image: url('../img/news2.webp');
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 7px 7px 0px 0px;
}
.tabnews2{
  background-image: url('../img/news1.webp');
  width: 19%;
}
.tabvec2{
  background-image: url('../img/Vector21.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70%;
  width: 100%;
  margin-top: 44%;
  border-radius: 0px 0px 7px 7px;
}
.tabvec1 {
  background-image: url('../img/Vector11.png');
}
.tabvec2 p:nth-of-type(1){
  margin: auto;
  margin-bottom: 0;
  margin-top: 33%;
  font-weight: bold;
  width: 90%;
}
.tabvec2 p:nth-of-type(2n){
  margin: auto;
  margin-bottom: 0;
  margin-top: 2%;
  font-weight: normal;
  width: 90%;
}
.banner{
  width: 1400px;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
}
.swiper {
  width: 600px;
  height: 300px;
}