*{ /* Сброс отступов */
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
hr{
    width: 430px;
    margin-left: 30%;
    margin-top: 1%;
}
.profile{
    display: flex;
    flex-direction: column;
    height: 745px;
    margin: auto;
    margin-top: 2%;
    width: 1200px;
}
.profile h1{
    font-size: 32px;
    font-weight: bold;
    margin-left: 3%;
    margin-bottom: 2%;
}
.profcont{
    margin-left: 30%;
}
.profcont h2{
font-weight: 500;
margin-bottom: 1%;
}
.aboutme{
    display: flex;
    flex-direction: column;
}
.aboutme h2{
    font-size: 20px;
    font-weight: normal;
}
.aboutme form{
    display: flex;
    flex-direction: column;
}
.aboutme label{
margin-top: 1%;
margin-bottom: 1%;
font-size: 17px;
}
.lab1 input{
    margin-left: 11.5%;
    border: 1px solid #767272;
    border-radius: 2px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.lab2 input{
    margin-left: 6.8%;
    border: 1px solid #767272;
    border-radius: 2px;
    margin-bottom: 1%;
}
.lab3 input{
    margin-left: 8%;
    border: 1px solid #767272;
    border-radius: 2px;
}
.lab4 input{
    margin-left: 10.3%;
    border: 1px solid #767272;
    border-radius: 2px;
    margin-bottom: 1%;
}
.sex{
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
}
.sbtns {
    display: flex;
    gap: 20px; /* Расстояние между кнопками */
	margin-left: 13%;
}

.radio-container {
    display: flex;
    align-items: center;
	justify-content: center;
    cursor: pointer;
    border: 1px solid black; /* Начальная граница */

    border-radius: 0; /* Убираем закругления для квадратного вида */
    transition: border 0.3s; /* Плавный переход изменения границы */
	height: 20px;
	width: 70px;
	font-size: 15px !important;
}

.radio-container input[type="radio"] {
    display: none; /* Скрываем стандартные радиокнопки */
}

.radio-container.selected {
    border: 2px solid black; /* Жирная граница для выбранного состояния */
}
.check{
    display: flex;
    margin-bottom: 4%;
}
.chks{
    display: flex;
    flex-direction: column;
    margin-left: 7.8%;
}
.chk{
    display: flex;
    margin-left: 1%;
}
.chk p{
margin-left: 1%;
width: 235px;
}
.save{
	display: flex;
	flex-direction: column
}
.save button{
width: 225px;
background-color: #04ABFF;
border: none;
border-radius: 3px;
height: 31px;
font-size: 18px;
color: white;
cursor: pointer;
margin-top: 1%;
margin-left: 16%;
margin-bottom: 1%;
}